.intro-page.signup {
    position: absolute;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow-y: scroll;
    animation-name: overflow;
    animation-duration: 6s;
    height: 100%;
}

@keyframes overflow {
    from {
        overflow-y: hidden;
    }

    to {
        overflow-y: scroll;
    }
}

.intro-page.signup::-webkit-scrollbar {
    display: none !important;
}

.intro-page.signup .logo-intro {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    transform: scale(0.7);
    animation-name: logoSize, logoMove;
    animation-duration: 1s, 2s !important;
    animation-delay: 0.1s, 1.1s;
    animation-iteration-count: 1, 1;
}

@keyframes logoSize {
    from {
        transition: trasform 0.5s !important;
        transform: scale(0.85);
        height: 100%;
    }

    to {
        transition: transform 1s !important;
        transform: scale(1.05);
        height: 100%;
    }
}

@keyframes logoMove {
    from {
        height: 100%;
        transform: scale(1.05);
    }

    to {
        height: 25%;
        transform: scale(0.7);
    }
}

.intro-page.signup .logo-intro div {
    height: 100%;
}

.intro-page.signup .logo-intro div img {
    object-fit: contain;
}

.intro-page.signup .login-intro {
    position: absolute;
    background: #C7C7C7;
    height: 75%;
    bottom: 0;
    z-index: 4;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    visibility: visible;
    display: block !important;
    animation-name: showLogin, slideInLogin;
    animation-delay: 0.1s, 1.5s;
    animation-duration: 2.1s, 2s;
    animation-iteration-count: 1;
}

@keyframes showLogin {
    from {
        visibility: hidden;
        height: 0;
        display: none !important;
    }

    to {
        visibility: visible;
        height: 0;
        display: block !important;
    }
}

@keyframes slideInLogin {
    from {
        height: 0;
    }

    to {
        height: 75%;
    }
}
